<div class="container">
    <div class="card">
  <div class="card-header">
  Invoice
  <strong>01/01/01/2018</strong>
    <span class="float-right"> <strong>Status:</strong> Pending</span>
  
  </div>
  <div class="card-body">
  <div class="row mb-4">
  <div class="col-sm-6">
  <h6 class="mb-3">From:</h6>
  <div>
  <strong>The Vegan Store</strong>
  </div>
  <div></div>
  <div>B-1 Sardar Patel Market</div>
  <div>Email: veganstore@gmail.com</div>
  <div>Phone: +48 444 666 3333</div>
  </div>
  
  <div class="col-sm-6">
  <h6 class="mb-3">To:</h6>
  <div>
  <strong *ngFor="let item of arr"> {{item.p_name}}</strong>
  </div>
  <div>Attn: Daniel Marek</div>
  <div>43-190 Mikolow, Poland</div>
  <div>Email: marek@daniel.com</div>
  <div>Phone: +48 123 456 789</div>
  </div>
  
  
  
  </div>
  
  <div class="table-responsive-sm">
  <table class="table table-striped">
  <thead>
  <tr>
  <th class="center">#</th>
  <th>Item</th>
  <th>Description</th>
  
  <th class="right">Unit Cost</th>
    <th class="center">Qty</th>
  <th class="right">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td class="center">1</td>
  <td class="left strong">Origin License</td>
  <td class="left">Extended License</td>
  
  <td class="right">$999,00</td>
    <td class="center">1</td>
  <td class="right">$999,00</td>
  </tr>
  <tr>
  <td class="center">2</td>
  <td class="left">Custom Services</td>
  <td class="left">Instalation and Customization (cost per hour)</td>
  
  <td class="right">$150,00</td>
    <td class="center">20</td>
  <td class="right">$3.000,00</td>
  </tr>
  <tr>
  <td class="center">3</td>
  <td class="left">Hosting</td>
  <td class="left">1 year subcription</td>
  
  <td class="right">$499,00</td>
    <td class="center">1</td>
  <td class="right">$499,00</td>
  </tr>
  <tr>
  <td class="center">4</td>
  <td class="left">Platinum Support</td>
  <td class="left">1 year subcription 24/7</td>
  
  <td class="right">$3.999,00</td>
    <td class="center">1</td>
  <td class="right">$3.999,00</td>
  </tr>
  </tbody>
  </table>
  </div>
  <div class="row">
  <div class="col-lg-4 col-sm-5">
  
  </div>
  
  <div class="col-lg-4 col-sm-5 ml-auto">
  <table class="table table-clear">
  <tbody>
  <tr>
  <td class="left">
  <strong>Subtotal</strong>
  </td>
  <td class="right">$8.497,00</td>
  </tr>
  <tr>
  <td class="left">
  <strong>Discount (20%)</strong>
  </td>
  <td class="right">$1,699,40</td>
  </tr>
  <tr>
  <td class="left">
   <strong>VAT (10%)</strong>
  </td>
  <td class="right">$679,76</td>
  </tr>
  <tr>
  <td class="left">
  <strong>Total</strong>
  </td>
  <td class="right">
  <strong>$7.477,36</strong>
  </td>
  </tr>
  </tbody>
  </table>
  
  </div>
  
  </div>
  
  </div>
  </div>
  </div>
  













<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container" matSort>
   

    <ng-container matColumnDef="p_img">
      <th mat-header-cell *matHeaderCellDef><b>Product Image</b>  </th>
      <td mat-cell  *matCellDef="let element"> <img src="http://localhost:3000/images/product/{{element.p_img}}" height="70px" style="border-radius: 150px;width:70px;"> </td>
    </ng-container>

      <ng-container matColumnDef="p_name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.p_name}} </td>
      </ng-container>

      <ng-container matColumnDef="p_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price  </th>
        <td mat-cell *matCellDef="let element"> {{element.p_price}} </td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> QTY  </th>
        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[1,2,5]"></mat-paginator>

    <button mat-raised-button color="warn" style="margin-left: 100px;" (click)="oncancel()">Cancel</button> -->