<div class="container">
  <div class="row">
    <div class="col-md-12">
        <!-- style="font-size: 30px;margin-left:10px;margin-top:-40px;" -->
      <p><b style="font-size: 30px;">Update Product</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>



<form class="example-form container" style="font-size: 15px;">
  Name
<mat-form-field class="example-full-width" style="width: 585px;margin-left:58px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter Name" [(ngModel)]="p_name" name="p_name">
  </mat-form-field>
<br>
  price
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:65px;">&nbsp;&nbsp;&nbsp;&nbsp;
    <input matInput placeholder="Enter Price" [(ngModel)]="p_price" name="p_price">
  </mat-form-field>
  <br>
  Quantity
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:41px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter Quantity" [(ngModel)]="p_qty" name="p_qty">
  </mat-form-field>
  <br>
  Manufacturer
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:10px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter Manufacture" [(ngModel)]="p_mfg" name="p_mfg">
  </mat-form-field>
  <br>
  Image
  <div class="example-full-width" style="width: 585px;margin-left:10px;">&nbsp;&nbsp; 
    <input type="file" (change)="onchange($event)" width="50px">
  </div>
<br>
  Buffer Stock
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:17px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter Stock" [(ngModel)]="buffer_stock" name="buffer_stock">
  </mat-form-field>
  <br>
  <button type="submit" class="btn" mat-raised-button color="primary" (click)="onSave()" style="margin-left: 226px;">Save</button>
  <button mat-raised-button class="btn" style="margin-left: 7px;" color="warn" (click)="oncancel()">Cancel</button>
</form>