
<!-- <b style="margin-left:300px;margin-top:70px;font-size:30px;">Update Password</b>
<form (ngSubmit)="addForm(f)" #f="ngForm">
  <div class="container">
      <div class="form-group">
        <mat-form-field class="example-full-width" style="width: 500px;margin-top:80px;margin-left:100px;">
          <input matInput placeholder="Enter Old Password" id="Password" required
          name="Password" 
          #Password="ngModel" [(ngModel)]="oldpswd">
        </mat-form-field>
        <div [hidden]="Password.valid || Password.untouched">
          <div [hidden]="!Password?.errors?.required"></div>
          <mat-error style="margin-left:100px;">Please Enter Your Old Password</mat-error>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 500px;margin-top:10px;margin-left:100px;">
        <input matInput  id="pswd" required
        name="pswd" type="password" placeholder="Enter New Password"
        #pswd="ngModel" [(ngModel)]="newpswd">
      </mat-form-field>
      <div [hidden]="pswd.valid || pswd.untouched">
        <div [hidden]="!pswd?.errors?.required"></div>
        <mat-error style="margin-left:100px;">Please Enter New Password</mat-error>
      </div>
    </div>
</div>
  <button style="margin-left:290px;" type="submit" [disabled]="!f.valid" mat-raised-button color="primary"  (click)="onupdate()">Update</button>
  <button mat-raised-button color="warn" (click)="oncancel()">Cancel</button>
  
  </form>  -->




<form (ngSubmit)="addForm(f)" #f="ngForm">
  <br>
  <br>
  <br>
  <div class="card">
    <h1>Update Your Password</h1>
    <br>
    <div class="container">
      <div class="form-group">
        <!-- <b>Enter old Password</b> -->
        <mat-form-field class="example-full-width" style="width: 40%;margin-left:-640px;">
          <input matInput placeholder="Enter Old Password" id="Password" required
          name="Password" 
          #Password="ngModel" [(ngModel)]="oldpswd">
        </mat-form-field>
        <div [hidden]="Password.valid || Password.untouched">
          <div [hidden]="!Password?.errors?.required"></div>
          <mat-error>Please Enter Your Old Password</mat-error>
        </div>
      </div>
  </div>
    
  <div class="container">
    <div class="form-group">
      <!-- <b>Enter New Password</b> -->
      <mat-form-field class="example-full-width" style="width: 40%;margin-left:-640px;">
        <input matInput  id="pswd" required
        name="pswd" type="password" placeholder="Enter New Password"
        #pswd="ngModel" [(ngModel)]="newpswd">
      </mat-form-field>
      <div [hidden]="pswd.valid || pswd.untouched">
        <div [hidden]="!pswd?.errors?.required"></div>
        <mat-error>Please Enter New Password</mat-error>
      </div>
    </div>
  </div>
    <p><button [disabled]="!f.valid" (click)="onupdate()">Done</button></p>
    <p><button (click)="oncancel()">Cancel</button></p>
  </div>
</form>