<!-- <p><b style="font-size:40px;"></b></p>
<div class="container">
  <form (ngSubmit)="addform(f)" #f="ngForm">
    <div class="container">
      <div class="form-group">
        <label>Email Id</label>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Email-id" name="pro_name" [(ngModel)]="email_id" id="email_id"
          email required #email_id="ngModel">
        </mat-form-field>
       <div [hidden]="email_id.valid || email_id.untouched">
         <div [hidden]="email_id?.errors?.required">
           <mat-error>Email is Incorrect</mat-error>
         </div>
         <div [hidden]="!email_id?.errors?.required">
           <mat-error>Email Is Required</mat-error>
         </div>
       </div>
       <br>
       <button mat-raised-button color="primary" (click)="onforget()">Done</button>
       <button mat-raised-button color="primary" (click)="oncancel()">Cancel</button>
      </div>
    </div>
  </form>
</div> -->
<form (ngSubmit)="addForm(f)" #f="ngForm">
  <div class="container">
      <div class="form-group">
        Forget Password
        <mat-form-field class="example-full-width" style="width: 500px;">
          <input matInput  placeholder="Enter Email Id" id="emailid" required
          name="emailid"
          #emailid="ngModel" [(ngModel)]="email_id">
        </mat-form-field>
        <div [hidden]="emailid.valid || emailid.untouched">
          <div [hidden]="!emailid?.errors?.required"></div>
          <mat-error>Email Id Is required</mat-error>
        </div>
        <button mat-raised-button color="primary" (click)="onforget()">Done</button>
        <button mat-raised-button color="primary" (click)="oncancel()">Cancel</button>
        
      </div>
  </div>
  </form>