<!--
<form class="example-form container" style="font-size: 15px;">
  Email Id
<mat-form-field class="example-full-width" style="width: 585px;margin-left:58px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter EmailId" [(ngModel)]="email_id" name="Email Id">
  </mat-form-field>
<br>
  User Name
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:65px;">&nbsp;&nbsp;&nbsp;&nbsp;
    <input matInput placeholder="Enter Name" [(ngModel)]="u_name" name="p_price">
  </mat-form-field>
  <br>
  Password
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:41px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter Password" [(ngModel)]="password" name="p_qty">
  </mat-form-field>
  <br>
  Password
  <mat-radio-group>
    <mat-radio-button value="1" [(ngModel)]="u_gender">Option 1</mat-radio-button>
    <mat-radio-button value="2" [(ngModel)]="u_gender">Option 2</mat-radio-button>
  </mat-radio-group>
  <br>
  Address
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Enter Address" [(ngModel)]="u_address" name="u_address"></textarea>
  </mat-form-field>
  <br>
City
  <mat-form-field class="example-full-width" style="width: 585px;margin-left:10px;">&nbsp;&nbsp;
    <input matInput placeholder="Enter Manufacture" [(ngModel)]="u_city" name="u_city">
  </mat-form-field>
  <br>

  <button type="submit" class="btn" mat-raised-button color="primary" (click)="onSave()" style="margin-left: 226px;">Save</button>
  <button mat-raised-button class="btn" style="margin-left: 7px;" color="warn" (click)="oncancel()">Cancel</button>
</form> -->
