<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            <b>Top 5 product</b>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
         <mat-card-content class="dashboard-card-content" (click)="onMoveToProduct()">
           <div>
             <!-- <!-- <mat-form-field style="width:1100px;">
              <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search Order"
              >
            </mat-form-field> -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >
                      
                <ng-container matColumnDef="p_img">
                  <th mat-header-cell *matHeaderCellDef><b style="margin-left:230px;">Product Image</b>  </th>
                  <td mat-cell  *matCellDef="let element"> <img src="http://localhost:3000/images/product/{{element.p_img}}" height="70px" style="border-radius: 150px;width:70px;margin-left:-250px;"> </td>
                </ng-container>

                <ng-container matColumnDef="p_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><b style="margin-left:-250px;">Product name</b>  </th>
                  <td mat-cell *matCellDef="let element"><b style="margin-left:-550px;"> {{element.p_name | uppercase}}</b> </td>
                </ng-container>


                <ng-container matColumnDef="p_price">
                    <th mat-header-cell *matHeaderCellDef><b style="margin-left:-140px;">Price(Per Kg.)</b> </th>
                    <td mat-cell *matCellDef="let element"> <b style="margin-left:-380px;">{{element.p_price | currency:'INR':true}}</b> </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[2,3]"></mat-paginator>

          <mat-icon></mat-icon>
          </div>
         </mat-card-content>
        </mat-card>
    </mat-grid-tile>



    <mat-grid-tile  [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card" >
          <mat-card-header>
            <mat-card-title>
              <b>StockDetails</b>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
           <mat-card-content class="dashboard-card-content" (click)="onMoveTOStockDetails()">
             <div>
               <!--<mat-form-field style="width:1100px;">
                <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Search Order"
                >
              </mat-form-field>-->
              <table mat-table [dataSource]="productsamestock" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="p_img">
                  <th mat-header-cell *matHeaderCellDef><b>Product Image</b>  </th>
                  <td mat-cell  *matCellDef="let element"> <img src="http://localhost:3000/images/product/{{element.p_img}}" height="50px" style="border-radius: 150px;width:50px;"> </td>
                </ng-container>

                <ng-container matColumnDef="p_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Product name</b>  </th>
                  <td mat-cell *matCellDef="let element"> {{element.p_name | uppercase}} </td>
                </ng-container>


                <ng-container matColumnDef="buffer_stock">
                    <th mat-header-cell *matHeaderCellDef> Buffer Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.buffer_stock}} </td>
                  </ng-container>

                  <ng-container matColumnDef="p_qty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity(Per Kg.) </th>
                    <td mat-cell *matCellDef="let element"> {{element.p_qty}} </td>
                  </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table>
            </div>
           </mat-card-content>
          </mat-card>
      </mat-grid-tile>



        <mat-grid-tile  [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header style="margin-left: 50px;">
              <mat-card-title>
                <b>Order</b>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
             <mat-card-content class="dashboard-card-content" (click)="onMoveToOrder()">
               <div>
                 <!--<mat-form-field style="width:1100px;">
                  <input
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search Order"
                  >
                </mat-form-field>-->
                <table mat-table [dataSource]="orderdatasource" class="mat-elevation-z8 container" matSort>
                  <!-- Position Column -->
                  <ng-container matColumnDef="fk_email_id">
                    <th mat-header-cell *matHeaderCellDef>User Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.fk_email_id}} </td>
                  </ng-container>


                    <ng-container matColumnDef="o_price">
                      <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                      <td mat-cell *matCellDef="let element"> {{element.o_price}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="o_date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date  </th>
                      <td mat-cell *matCellDef="let element"> {{element.o_date}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>

                  </table>
                </div>
             </mat-card-content>
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile  [colspan]="2" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <b>Supplier</b>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
             <mat-card-content class="dashboard-card-content" (click)="onMoveToSupplier()">
               <div>
                 <!--<mat-form-field style="width:1100px;">
                  <input
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Search Order"
                  >
                </mat-form-field>-->
                <table mat-table [dataSource]="supplierdatasource" class="mat-elevation-z8" matSort>



                  <ng-container matColumnDef="s_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b style="margin-left:60px;">Supplier name</b>  </th>
                    <td mat-cell *matCellDef="let element"><b style="margin-left:-70px;">{{element.s_name | uppercase}}</b> </td>
                  </ng-container>

                  <ng-container matColumnDef="cat_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b style="margin-left:-10px;">Category name</b>  </th>
                    <td mat-cell *matCellDef="let element"><b style="margin-left:-110px;"> {{element.cat_name | uppercase}}</b> </td>
                  </ng-container>

                  <ng-container matColumnDef="p_name">
                      <th mat-header-cell *matHeaderCellDef><b style="margin-left:90px;"> Product Name </b></th>
                      <td mat-cell *matCellDef="let element"> {{element.p_name | uppercase}} </td>
                    </ng-container>

                    <ng-container matColumnDef="s_mno">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> <b style="margin-left:90px;">Mobile Number</b> </th>
                      <td mat-cell *matCellDef="let element"> {{element.s_mno}} </td>
                    </ng-container>

                  <ng-container matColumnDef="s_address">
                    <th mat-header-cell *matHeaderCellDef><b style="margin-left:50px;"> Address</b> </th>
                    <td mat-cell *matCellDef="let element"> {{element.s_address}} </td>
                  </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                </table>
                </div>
             </mat-card-content>
            </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
    